*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
}

body {
    background-color: #191919;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
    perspective: 1px;
    transform-style: preserve-3d;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 55px;
    background-color: #000000 /*#5D4954*/;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.75);
    margin: 0;
    z-index: 10;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.tenik-logo {
    margin-top: 10px;
    min-height: 40px;
    height: 5vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width .3s;
}

.nav-links a:hover::after {
    width: 100%;
    transition: width .3s;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        bottom: 0;
        top: 55px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        z-index: 10;
    }

    .nav-activated {
        transition: transform 0.5s ease-in;
        -webkit-transition: -webkit-transform transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
        margin-top: -10vh;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#bm {
    width: 250px;
}

.parallax-div {
    position: relative;
    height: 110vh;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}

.pixel-art {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax1 {
    
    /* The image used */
    background-image: url(../images/GarbageDiskBanner3.gif) /*url("https://i.ytimg.com/vi/QlO_lOUwK14/maxresdefault.jpg")*/;
    filter: brightness(0.3) blur(3px);

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -2;
}


.parallax2 {
    /* The image used */
    background-image: url("http://hdwpro.com/wp-content/uploads/2018/10/Top-1080p-Background.jpg");

    /* Set a specific height */
    min-height: 1000px; 

    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
}

.arrow {
    position: absolute;
    bottom: 28vh;
    left: 50%;
    margin-left: -21px;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: block;
    border-color: #fff;
    width: 30px;
    height: 30px;
}

.arrow1 {
    margin-bottom: 20px;
    animation: arrowAnimation 3s alternate infinite ease-in-out;
}

.arrow2 {
    animation: arrowAnimation 3s alternate infinite ease-in-out 0.2s;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.under-line {
    margin: auto;
    width: 60%;
    height: 3px;
    background-color: rgb(226, 226, 226);
    transition: all 0.3s ease;
}

p, h1, h2, h3, h4, h5  {
    color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.title {
    margin-top: 30vh;
    font-size: 150px;
}

.under-title {
    font-size: 100px;
    margin: 0px 0px 20px 20px;
}

h3.under-title {
    font-size: 64px;
}

.about-text {
    font-size: 36px;
    margin: 40px 40px 40px 40px;
}

#contact {
    margin-top: 40px;
    margin-bottom: 30px;
}

.contact-text {
    font-size: 36px;
    margin-bottom: 50px;
}

.grid-container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.5);
}

.grid-container>a>div {
    background-color: rgba(255, 255, 255, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    border-style: solid;
    border-width: 10px;
    border-color: #191919;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -2;
    filter: brightness(1);
    transition: filter .5s;
}

.grid-container>a {
    height: 50vw;
    transition: filter .3s;
    filter: drop-shadow(0px 0px 0px black)
}

.grid-container>a:hover div {
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
}

.grid-container>a:hover .game-title {
    opacity: 1;
}


.garbage-disk-image {
    background: url('../images/GarbageDiskLogoAnimated.gif');
    transform: scale(1);
}

.cave-boat-image {
    background-image: url("../images/CaveBoatLogo.png");
}

.game-title {
    margin-top: 12vw;
    font-size: 8vw;
    opacity: 0;
    transition: opacity .7s;
}


/*animations*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeBack {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0%) rotate(45deg);
        -webkit-transform: translateY(0%) rotate(45deg);
    }
    50% {
        transform: translateY(70%) rotate(45deg);
        -webkit-transform: translateY(70%) rotate(45deg);
    }
    100% {
        transform: translateY(0%) rotate(45deg);
        -webkit-transform: translateY(0%) rotate(45deg);
    }
}

@media screen and (max-width:768px) {

    .grid-container>a {
        height: 100vw;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .game-title {
        margin-top: 24vw;
        font-size: 16vw;
    }

    .arrow {
        bottom: 35vh;
    }
}

/* Super wide and super narrow */

@media screen and (max-width: 564px) {
    .title {
        font-size: 100px;
    }
    .under-title {
        font-size: 65px;
    }

    h3.under-title {
        font-size: 50px;
    }

    .arrow {
        bottom: 40vh;
    }

    .grid-container {
        margin-top: 100px
    }

    .about-text {
        margin: 20px;
    }

    .contact-text {
        font-size: 8vw;
    }
}

@media screen and (max-height: 564px) {
    .title {
        margin-top: 20vh;
        font-size: 100px;
    }

    .arrow1 {
        animation: arrowAnimationWide 3s alternate infinite ease-in-out;
    }
    
    .arrow2 {
        animation: arrowAnimationWide 3s alternate infinite ease-in-out 0.2s;
    }

    .arrow {
        bottom: 35vh;
    }

    .under-title {
        font-size: 70px;
    }

    h3.under-title {
        font-size: 50px;
    }

    .grid-container {
        margin-top: 100px
    }
}